*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #1C1E22;
  color: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.header {
  position: fixed;
  width: 30px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #1C1E22;
  z-index: 30;
}
@media screen and (max-width: 850px) {
  .header {
    z-index: 100;
  }
}
.header button {
  position: absolute;
  color: inherit;
  background: transparent;
  border: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  outline: none;
}
.header .logo {
  font-size: 20px;
  font-family: 'Eczar', serif;
  letter-spacing: .5px;
  left: -15px;
  top: 99px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.header .logo span {
  font-size: 11px;
}
@media screen and (max-width: 850px) {
  .header .logo {
    color: #D5D5D5;
    left: -35px;
    top: 75px;
  }
}
.header .credentials {
  bottom: 45px;
  left: -19px;
  white-space: nowrap;
}
@media screen and (max-width: 850px) {
  .header .credentials {
    color: #D5D5D5;
    left: -30px;
    bottom: 45px;
  }
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

.container--left,
.container--right {
  height: 100vh;
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.container--left {
  width: 50vw;
  background-color: #D5D5D5;
  left: 0;
  -webkit-transition: width 0.55s cubic-bezier(0.18, 1.25, 0.67, 1.07);
  transition: width 0.55s cubic-bezier(0.18, 1.25, 0.67, 1.07);
  z-index: 20;
}
@media screen and (min-width: 851px) {
  .container--left:not(.active) {
    width: 10px;
  }
  .container--left:not(.active) ~ .container--right .timeline {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  .container--left:not(.active) ~ .header {
    color: #D5D5D5;
  }
  .container--left:not(.active) ~ .header button {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .container--left:not(.active) ~ .header .logo {
    top: 0;
    left: 25px;
  }
  .container--left:not(.active) ~ .header .credentials {
    bottom: 12px;
    left: 25px;
  }
  .container--left:not(.active) .container--close {
    display: none;
  }
  .container--left:not(.active) .container--left-inner {
    opacity: 0;
  }
}
@media screen and (max-width: 850px) {
  .container--left:not(.active) {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .container--left {
    width: calc(100vw - 40px);
    left: auto;
    right: 0;
    overflow-y: hidden !important;
  }
}
.container--left-inner {
  position: absolute;
  top: 80px;
  left: 60px;
  width: calc(50vw - 120px);
  min-height: calc(100vh - 80px);
  opacity: 1;
  -webkit-transition: opacity 1.2s ease;
  transition: opacity 1.2s ease;
  padding-bottom: 80px;
}
@media screen and (max-width: 850px) {
  .container--left-inner {
    width: calc(100vw - 40px);
    height: 100vh;
    padding: 55px 20px 120px !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    overflow-y: auto;
  }
}
.container--left-inner h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 42px;
  margin-bottom: 50px;
}
.container--left-inner p {
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  line-height: 26px;
  color: #1C1E22;
}
.container--left-inner p:not(:last-child) {
  margin-bottom: 40px;
}

.container--right {
  background-color: #1C1E22;
  padding: 20vh 30px 20vh 50vw;
  text-align: left;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 10;
  width: 100vw;
  overflow-x: hidden;
}
@media screen and (max-width: 850px) {
  .container--right {
    padding: 40px 0 80px !important;
    margin: 0 0 80px;
  }
}
@media screen and (min-width: 851px) {
  .container--right:after {
    content: '';
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 20px;
    background: -webkit-linear-gradient(top, rgba(28, 30, 34, 0) 0%, #1C1E22 100%);
    background: linear-gradient(to bottom, rgba(28, 30, 34, 0) 0%, #1C1E22 100%);
    z-index: 10;
  }
}

.timeline {
  padding-top: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 100vw;
  position: relative;
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
  -webkit-transition: all 0.55s cubic-bezier(0, 1.29, 0.17, 1.7);
  transition: all 0.55s cubic-bezier(0, 1.29, 0.17, 1.7);
}
@media screen and (max-width: 850px) {
  .timeline {
    padding-left: 0;
    padding-bottom: 60px !important;
    margin-bottom: 80px !important;
  }
}
.timeline--date {
  padding-left: 20px;
  border-left: 2px solid #33373e;
}
.timeline--date:not(:last-child) {
  padding-bottom: 20px;
}
.timeline--date:last-child {
  padding-left: 0;
  border-left: 0;
  padding-bottom: 150px;
}
.timeline--date:last-child .date {
  padding-left: 20px;
  border-left: 2px solid #33373e;
}
.timeline--date:last-child .date:before {
  left: -4px;
  bottom: 0;
  top: auto;
}
.timeline--date:last-child .name {
  margin-left: 20px;
}
.timeline .date {
  text-transform: uppercase;
  font-size: 11px;
  opacity: .8;
  display: block;
  clear: both;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  position: relative;
}
.timeline .date:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  top: 0;
  left: -24px;
  background-color: #33373e;
  border-radius: 50%;
}
.timeline .name {
  display: block;
  clear: both;
  font-size: 20px;
  background: transparent;
  border: 0;
  color: #fff;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  outline: none;
  position: relative;
  font-family: 'Rubik', sans-serif;
  text-align: left;
  letter-spacing: .3px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.timeline .name:hover, .timeline .name:focus {
  color: #D5D5D5;
}
.timeline .name.active {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  color: #D5D5D5;
}

.icon-close {
  width: 25px;
  height: 25px;
  display: block;
  border: 0;
  position: fixed;
  margin: 5px;
  background: transparent;
  left: calc(50vw - 40px);
  outline: none;
  opacity: .35;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
  z-index: 100;
}
.icon-close:hover {
  opacity: 1;
}
.icon-close span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.icon-close span:before, .icon-close span:after {
  content: '';
  display: block;
  width: 4px;
  height: 100%;
  background-color: #1C1E22;
  position: absolute;
  border-radius: 4px;
}
.icon-close span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.icon-close span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media screen and (max-width: 850px) {
  .icon-close {
    top: 10px;
    right: 10px;
    left: auto;
  }
}
