main.container
    section.container--left.js-leftSide
        button.icon-close.js-close(href="javascript:;")
            span
        .container--left-inner.js-leftSideInner
            h1.js-title Frank Sinatra <br>Jr. Dead
            div.js-content
                p Bacon ipsum dolor amet pig in shankle cillum anim. Chicken non meatloaf aliqua. Ground round adipisicing sausage, shoulder ipsum consequat ea. Tongue deserunt sint, venison tenderloin alcatra pastrami labore culpa andouille picanha burgdoggen ea short loin aliqua. Tenderloin alcatra duis chicken tongue, veniam venison pork chop fugiat pig lorem landjaeger.
                p T-bone occaecat kielbasa ball tip, est bacon adipisicing shankle ipsum esse venison hamburger lorem leberkas tenderloin. Pastrami cillum pancetta, porchetta sint sed est short loin anim filet mignon kevin enim. Flank pancetta landjaeger, tenderloin excepteur fugiat tail. Ground round deserunt chicken meatloaf, sint jerky reprehenderit alcatra aliqua sausage laborisNaN
    section.container--right
        ul.timeline
            li.timeline--date
                ul.timeline--date-group
                    span.date January 10
                    li.timeline--date-row
                        button.name.js-name David Bowie Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date January 14
                    li.timeline--date-row
                        button.name.js-name Alan Rickman Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date February 19
                    li.timeline--date-row
                        button.name.js-name Harper Lee Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date March 09
                    li.timeline--date-row
                        button.name.js-name George Martin Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date March 16
                    li.timeline--date-row
                        button.name.js-name Frank Sinatra Jr. Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date April 21
                    li.timeline--date-row
                        button.name.js-name Prince Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date June 04
                    li.timeline--date-row
                        button.name.js-name Muhammad Ali Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date Jul 19
                    li.timeline--date-row
                        button.name.js-name Garry Marshall Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date 20 August
                    li.timeline--date-row
                        button.name.js-name Matt Roberts Dead
                    li.timeline--date-row
                        button.name.js-name Lou Pearlman Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date 11 September
                    li.timeline--date-row
                        button.name.js-name Alexis Arquette Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date 24 September
                    li.timeline--date-row
                        button.name.js-name Bill Nunn Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date 24 October
                    li.timeline--date-row
                        button.name.js-name Kevin Meaney Dead
                    li.timeline--date-row
                        button.name.js-name Bobby Vee Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date 10 November
                    li.timeline--date-row
                    button.name.js-name Leonard Cohen Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date 26 November
                    li.timeline--date-row
                        button.name.js-name Fidel Castro Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date 25 December
                    li.timeline--date-row
                        button.name.js-name George Michael Dead
            li.timeline--date
                ul.timeline--date-group
                    span.date 27 December
                    li.timeline--date-row
                        button.name.js-name Carrie Fisher Dead
    header.header
        .header--inner
            .logo--wrapper
                button.logo 2017
                    span .sucks
            .credentials--wrapper
                button.credentials by Alex Bowers