$grey: #16282B;
$grey_light: #D5D5D5;
$leftBg: #448891;
$rightBg: #16282B;
@mixin breakpoint($point) {
  @if $point==desktop {
    @media screen and (min-width: 851px) {
      @content ;
    }
  }
  @if $point==mobile {
    @media screen and (max-width: 850px) {
      @content ;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: $grey;
  color: #fff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.header {
  position: fixed;
  width: 40px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  user-select: none;
  color: $grey_light;
  z-index: 30;
  @include breakpoint(mobile) {
    z-index: 100;
  }
  &--inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 10px;
  }
  button {
    display: block;
    color: inherit;
    background: transparent;
    border: 0;
    white-space:nowrap;
    outline: none;
    transform: rotate(-90deg) ;
  }
  .logo {
    font-size: 20px;
    font-family: 'Eczar', serif;
    letter-spacing: .5px;
    transform-origin: 55px 55px;
    &--wrapper {
      position: absolute;
      left: 0;
      top: 10px;
    }
  }
  .credentials {
    display: block;
    user-select: none;
    color: $grey_light;
    background: transparent;
    border: 0;
    white-space:nowrap;
    outline: none;
    transform: rotate(-90deg) ;
    margin-top: auto;
    font-size: 12px;
    transform-origin: 8px 0px;
    &--wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}

.container--left,
.container--right {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
}

.container--left {
  width: 50vw;
  background-color: $leftBg;
  left: 0;
  transition: width .55s cubic-bezier(.18, 1.25, .67, 1.07);
  z-index: 20;
  &:not(.active) {
    @include breakpoint(desktop) {
      width: 10px;
      & ~ .container--right {
        .timeline {
          transform: translateX(2px);
        }
      }
      .container--close {
        display: none;
      }
      .container--left-inner {
        opacity: 0;
      }
      & ~ .header {
        .logo {
          transform: rotate(0);
          &--wrapper {
            top: 0;
            left: 20px;
          }
        }
        .credentials {
          transform: rotate(0);
          &--wrapper {
            bottom: 5px;
            left: 20px;
          }
        }
      }
    }
    @include breakpoint(mobile) {
      display: none;
    }
  }
  &.active {
    @include breakpoint(desktop) {
      & ~ .header {
        button {
          color: $grey;
        }
      }
    }
  }
  @include breakpoint(mobile) {
    width: calc(100vw - 40px);
    left: auto;
    right: 0;
    overflow-y: hidden !important;
  }
  &-inner {
    position: absolute;
    top: 80px;
    left: 60px;
    width: calc(50vw - 120px);
    min-height: calc(100vh - 80px);
    opacity: 1;
    transition: opacity 1.2s ease;
    padding-bottom: 80px;
    @include breakpoint(mobile) {
      width: calc(100vw - 40px);
      height: 100vh;
      padding: 55px 20px 120px !important;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      overflow-y: auto;
    }
    h1 {
      font-family: 'Rubik', sans-serif;
      font-size: 42px;
      margin-bottom: 50px;
    }
    p {
      font-family: 'Roboto', monospace;
      font-size: 18px;
      line-height: 26px;
      color: $grey;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

.container--right {
  background-color: $rightBg;
  padding: 20vh 30px 20vh 50vw;
  text-align: left;
  right: 0;
  display: flex;
  user-select: none;
  z-index: 10;
  width: 100vw;
  overflow-x: hidden;
  @include breakpoint(mobile) {
    padding: 40px 0 80px !important;
    margin: 0 0 80px;
  }
  @include breakpoint(desktop) {
    &:after {
      content: '';
      position: fixed;
      display: block;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 20px;
      background: linear-gradient(to bottom, rgba($grey, 0) 0%, $grey 100%);
      z-index: 10;
    }
  }
}

.timeline {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100vw;
  position: relative;
  transform: translateX(40px);
  transition: all .55s cubic-bezier(0, 1.29, .17, 1.7);
  @include breakpoint(mobile) {
    padding-left: 0;
    padding-bottom: 60px !important;
    margin-bottom: 80px !important;
  }
  &--date {
    padding-left: 20px;
    border-left: 2px solid lighten($grey, 10);
    &:not(:last-child) {
      padding-bottom: 20px;
    }
    &:last-child {
      padding-left: 0;
      border-left: 0;
      padding-bottom: 150px;
      .date {
        padding-left: 20px;
        border-left: 2px solid lighten($grey, 10);
        &:before {
          left: -4px;
          bottom: 0;
          top: auto;
        }
      }
      .name {
        margin-left: 20px;
      }
    }
  }
  .date {
    text-transform: uppercase;
    font-size: 11px;
    opacity: .8;
    display: block;
    clear: both;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 1px;
    position: relative;
    &:before {
      content: '';
      display: block;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 0;
      left: - 24px;
      background-color: lighten($grey, 10);
      border-radius: 50%;
    }
  }
  .name {
    display: block;
    clear: both;
    font-size: 20px;
    background: transparent;
    border: 0;
    color: #fff;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: transform .5s ease-out;
    outline: none;
    position: relative;
    font-family: 'Rubik', sans-serif;
    text-align: left;
    letter-spacing: .3px;
    margin-top: 5px;
    margin-bottom: 5px;
    &:hover,
    &:focus {
      color: $grey_light;
    }
    &.active {
      transform: translateX(10px);
      color: $grey_light;
    }
  }
}

.icon-close {
  width: 25px;
  height: 25px;
  display: block;
  border: 0;
  position: fixed;
  margin: 5px;
  background: transparent;
  left: calc(50vw - 40px);
  outline: none;
  opacity: .35;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 100;
  &:hover {
    opacity: 1;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 4px;
      height: 100%;
      background-color: $grey;
      position: absolute;
      border-radius: 4px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  @include breakpoint(mobile) {
    top: 10px; right: 10px; left: auto;
  }
}